<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="template.xhtml">
    <ui:define name="content">
        <div id="content" class="container jumbotron">
        <h:form>
            <div class="form-signin ">
                <h:outputLabel for="username">USERNAME </h:outputLabel>
                <h:inputText id="username" class="form-control form-input" name="username" value="#{newUser.username}"/>
                <h:message for="username"/>
            </div>

            <div class="form-signin ">
                <h:outputLabel for="firstName">FIRST NAME </h:outputLabel>
                <h:inputText id="firstName" class="form-control form-input" value="#{newUser.firstname}"/>
                <h:message for="firstName"/>
            </div>

            <div class="form-signin ">
                <h:outputLabel for="lastName">LAST NAME </h:outputLabel>
                <h:inputText id="lastName" class="form-control form-input" value="#{newUser.lastname}"/>
                <h:message for="lastName"/>
            </div>
            <br/>
            <h:commandButton action="#{userCreateController.create}" styleClass="btn btn-lg btn-success"
                             style="width:120px;" value="Add"/><br/><br/>

            <h:link outcome="/index" styleClass="btn btn-lg btn-info" style="width:120px;">Back</h:link>
        </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
