<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="template.xhtml">
    <ui:define name="content">
        <div id="content" class="container jumbotron">
            <h:form styleClass="form-signin">
                <h:outputLabel for="title">TITLE</h:outputLabel>
                <h:inputText id="title" class="form-control form-input" value="#{newTask.title}"/>
                <h:message for="title"/>
                <br/> <br/>

                <h:outputLabel for="username">USERNAME</h:outputLabel>
                <h:inputText id="username" class="form-control form-input" value="#{taskCreateController.username}"/>
                <h:message for="username"/>
                <br/> <br/>

                <h:outputLabel for="description">DESCRIPTION</h:outputLabel>
                <h:inputText id="description" class="form-control form-input" value="#{newTask.description}"/>
                <h:message for="description"/>
                <br/> <br/>

                <h:outputLabel for="duedate">DUE DATE</h:outputLabel>
                <h:inputText id="duedate" styleClass="datepicker ui-datepicker form-control"
                             binding="#{taskCreateController.component}"
                             value="#{taskCreateController.date}"/>
                <h:message for="duedate"/>
                <br/> <br/>
                <h:commandButton action="#{taskCreateController.create}" styleClass="btn btn-lg btn-success"
                                 value="Assign"/>
            </h:form>
            <h:link outcome="/index.xhtml" styleClass="btn btn-lg btn-info">Cancel</h:link>
        </div>
    </ui:define>
</ui:composition>
</html>
