<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="template.xhtml">
    <ui:define name="content">
        <h:form class="container">
            <h1><h:outputText value="Error Code: #{errorHandler.statusCode}"/></h1>
        </h:form>
    </ui:define>
</ui:composition>
</html>
