<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="template.xhtml">
    <ui:define name="content">
        <div id="content" class="container jumbotron">
        <h:form id="greetForm">
            <div class="form-signin ">
                <p class="text-center">USERNAME</p>

                <p><h:inputText id="username" class="form-control form-input" value="#{greeterController.username}"/>
                </p>
            </div>
            <h:commandLink id="greet" value="Greet!" styleClass="btn btn-lg btn-success  text-center"
                           style="width:250px"
                           action="#{greeterController.greet}"/><br/> <br/>
            <h:message for="username"/>
            <h:outputText value="#{greeterController.greeting}"
                          rendered="#{not empty greeterController.greeting}"/><br/> <br/>
            <h:link styleClass="btn btn-lg btn-primary  text-center" style="width:250px" outcome="createUser"
                    value="Add a new user"/> <br/> <br/>
            <h:link styleClass="btn btn-lg btn-warning text-center" style="width:250px" outcome="createTask"
                    value="Add a new task"/><br/> <br/>
            <h:commandLink styleClass="btn btn-lg btn-danger  text-center" style="width:250px"
                           action="#{taskListController.show(greeterController.username)}" value="Show tasks"/>

        </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
