<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="template.xhtml">
    <ui:define name="content">
        <div class="task-center">
            <h:form style="max-width: 100%">
                <h3><h:outputText value="No tasks" rendered="#{empty taskListController.taskList}"/></h3><br/>
                <h:dataTable value="#{taskListController.taskList}" var="o"
                             styleClass="center-block table table-hover"
                             headerClass="task-table-header"
                             rowClasses="task-table-odd-row,task-table-even-row"
                             rendered="#{not empty taskListController.taskList}">

                    <h:column>
                        <f:facet name="header">Title</f:facet>
                        <h:inputText value="#{o.title}" rendered="#{o.editable}"/>
                        <h:outputText value="#{o.title}" rendered="#{not o.editable}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Description</f:facet>
                        <h:inputText value="#{o.description}" rendered="#{o.editable}"/>
                        <h:outputText value="#{o.description}" rendered="#{not o.editable}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Due date</f:facet>
                        <h:inputText value="#{o.dueDate}" styleClass="datepicker ui-datepicker"
                                     rendered="#{o.editable}">
                            <f:convertDateTime pattern="dd/mm/yyyy" type="date"/>
                        </h:inputText>
                        <h:outputText value="#{o.dueDate}" rendered="#{not o.editable}"/>
                    </h:column>


                    <h:column>
                        <f:facet name="header">Create date</f:facet>
                        <h:inputText value="#{o.createDate}" styleClass="datepicker ui-datepicker"
                                     rendered="#{o.editable}">
                            <f:convertDateTime pattern="dd/mm/yyyy" type="date"/>
                        </h:inputText>
                        <h:outputText value="#{o.createDate}" rendered="#{not o.editable}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Status</f:facet>
                        <h:selectOneMenu id="gender" value="#{o.status}" rendered="#{o.editable}">
                            <!-- use property name not method name -->
                            <f:selectItems value="#{taskListController.genderValues}"/>
                        </h:selectOneMenu>

                        <h:outputText value="#{o.status}" rendered="#{not o.editable}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Action</f:facet>

                        <form>
                            <h:commandLink value="Edit" styleClass="btn btn-warning btn-xs"
                                           style="width:120px; "
                                           action="#{taskListController.edit(o)}" rendered="#{not o.editable}"/>
                            <h:commandLink value="Save" styleClass="btn btn-success btn-xs"
                                           style="width:120px; "
                                           action="#{taskListController.save(o)}" rendered="#{o.editable}"/><br/>
                            <h:commandLink value="Done" styleClass="btn btn-success btn-xs"
                                           style="width:120px;"
                                           action="#{taskListController.done(o)}" rendered="#{not o.editable}"/><br/>
                            <h:commandLink value="Delete" styleClass="btn btn-danger btn-xs"
                                           style="width:120px;"
                                           action="#{taskListController.delete(o)}"
                                           rendered="#{not o.editable}"/>
                        </form>
                    </h:column>
                </h:dataTable>
                <h:link outcome="/index" styleClass="btn btn-lg btn-info" style="width:120px;">Back</h:link>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>
