<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
        >

<!-- The template for our app, defines some regions -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src='resources/js/jquery-2.1.1.min.js'></script>
    <script type="text/javascript" src='resources/js/jquery-ui.js'></script>
    <script type="text/javascript" src='resources/js/custom.js'></script>
    <link href="http://ajax.microsoft.com/ajax/jquery.ui/1.8.6/themes/smoothness/jquery-ui.css" rel="stylesheet"
          type="text/css"/>
    <link href="resources/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <title>BeeGreeter</title>
</head>

<h:body>
    <div id="container">
        <div id="header" class="header container" >
            <h3 class="text-muted">Bee Greeter</h3>
        </div>

        <ui:insert name="content"/>

        <br style="clear: both"/>
    </div>
</h:body>
</html>

